@import "../assets/styles/Color.scss";

.booking_header {
  height: 600px;
  width: 100%;
  padding: 65px 11.458333%; /* 165px/1440px */
  position: relative;
  background: url("../assets/images/booking/hero-bg-desktop.jpg") no-repeat
    center/cover;
  display: flex;
  flex-direction: column;
  .logo {
    margin-bottom: 153px;
  }
  h1 {
    font-size: 80px;
    font-style: normal;
    font-weight: 300;
    line-height: 80px; /* 100% */
    letter-spacing: -1px;
    color: $White;
    margin-bottom: 16px;
  }
  p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    color: $White;
    max-width: 445px;
  }
  .reserve_btn {
    display: none;
  }
}
.booking_main {
  height: auto;
  width: 100%;
  position: relative;
  .booking_wrap {
    height: 320px;
    width: 100%;
    padding: 0 11.458333%; /* 165px/1440 */
    position: relative;
    display: flex;
    justify-content: flex-end;
    .pattern1 {
      position: absolute;
      left: -68px;
    }
    .pattern_lines {
      position: absolute;
      top: 166px;
      left: 45.486111%; /* 655px/1440 */
    }
    .form_wrap {
      background: $White;
      height: auto;
      padding: 48px;
      width: 540px;
      box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
      position: absolute;
      top: -338px;
      form {
        height: auto;
        display: flex;
        flex-direction: column;
        .input_wrapper {
          width: 100%;
          margin-bottom: 34px;
          input[name="name"],
          input[type="email"] {
            width: 100%;
            height: 43px;
            outline: none;
            appearance: none;
            box-shadow: 0;
            border: 0;
            padding: 0 16px 15px 16px;
            border-bottom: 1px solid #8e8e8e;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 140% */
            color: $codGray;
            transition: border-bottom 0.5s ease;
          }
          input[name="name"]::placeholder,
          input[type="email"]::placeholder {
            font-size: 20px;
            font-family: League Spartan;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            color: $codGray;
            opacity: 0.5;
          }
          input[name="name"]:focus,
          input[type="email"]:focus {
            border-bottom: 1px solid $codGray;
          }
          input[name="name"]:hover,
          input[type="email"]:hover {
            border-bottom: 1px solid $codGray;
          }
        }
        .date_time_wrap {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-bottom: 36px;
          .date {
            display: flex;
            flex-direction: row;
            label {
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px; /* 140% */
              color: $codGray;
              margin-right: 65px;
              margin-bottom: 34px;
            }
            input[type="number"] {
              height: 43px;
              width: 80px;
              padding: 0 0 15px 16px;
              appearance: none;
              outline: none;
              box-shadow: 0;
              border: 0;
              border-bottom: 1px solid #8e8e8e;
              color: $codGray;
              font-family: League Spartan;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px; /* 140% */
              margin-right: 16px;
              transition: border-bottom 0.5s ease;
            }
            input[type="number"]:last-child {
              margin-right: 0;
              width: 97px;
            }
            input[type="number"]:hover,
            input[type="number"]:focus {
              border-bottom: 1px solid $codGray;
            }
            input[type="number"]::placeholder {
              font-family: League Spartan;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px; /* 140% */
              color: $codGray;
              opacity: 0.5;
            }
          }
          .time {
            display: flex;
            flex-direction: row;
            width: 100%;
            label {
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px; /* 140% */
              color: $codGray;
              margin-right: 65px;
              margin-bottom: 34px;
            }
            input[type="number"] {
              height: 43px;
              width: 80px;
              padding: 0 0 15px 16px;
              appearance: none;
              outline: none;
              box-shadow: 0;
              border: 0;
              border-bottom: 1px solid #8e8e8e;
              color: $codGray;
              font-family: League Spartan;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px; /* 140% */
              margin-right: 16px;
              transition: border-bottom 0.5s ease;
            }
            input[type="number"]:hover,
            input[type="number"]:focus {
              border-bottom: 1px solid $codGray;
            }
            input[type="number"]::placeholder {
              font-family: League Spartan;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px; /* 140% */
              color: $codGray;
              opacity: 0.5;
            }
            select {
              height: 43px;
              width: 97px;
              padding: 0 0 15px 16px;
              appearance: none;
              outline: none;
              border: 0;
              color: #111111;
              font-family: League Spartan;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px; /* 140% */
              border-bottom: 1px solid #8e8e8e;
              position: relative;
              option {
                color: $codGray;
              }
            }
          }
        }
        .count_wrap {
          position: relative;
          width: 100%;
          margin-bottom: 32px;
          input[name="count"] {
            width: 100%;
            height: 40px;
            text-align: center;
            padding: 0 0 16px 0;
            font-size: 20px;
            font-family: League Spartan;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 120% */
            letter-spacing: -0.25px;
            color: $codGray;
            appearance: none;
            outline: none;
            border: 0;
            box-shadow: 0;
            border-bottom: 1px solid #8e8e8e;
            transition: border-bottom 0.5s ease;
          }
          input[name="count"]:hover,
          input[name="count"]:focus {
            border-bottom: 1px solid $codGray;
          }
          .minus_wrap,
          .plus_wrap {
            position: absolute;
            appearance: none;
            outline: none;
            border: 0;
            background: transparent;
            cursor: pointer;
          }
          .minus_wrap {
            left: 31px;
            top: 4px;
          }
          .plus_wrap {
            right: 31px;
            top: 7px;
          }
        }
        .submit_btn {
          border: 1px solid $codGray;
          appearance: none;
          background: $codGray;
          width: 100%;
          height: 64px;
          color: $White;
          cursor: pointer;
          font-size: 17px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px; /* 164.706% */
          letter-spacing: 2.5px;
          text-transform: uppercase;
        }
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .booking_header {
    padding: 56px 5.078125%; /* 39px/768 */
    align-items: center;
    .logo {
      margin-bottom: 70px;
      align-self: flex-start;
    }
    h1 {
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 300;
      line-height: 64px; /* 133.333% */
      letter-spacing: -0.6px;
      margin-bottom: 12px;
    }
    p {
      text-align: center;
      max-width: 573px;
    }
  }
  .booking_main {
    .booking_wrap {
      height: 435px;
      justify-content: center;
      .pattern1 {
        display: none;
      }
      .pattern_lines {
        display: none;
      }
      .form_wrap {
        top: -245px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .booking_header {
    background: url("../assets/images/booking/hero-bg-mobile.jpg") no-repeat
      center/cover;
    .logo {
      align-self: center;
      margin-bottom: 44px;
    }
    h1 {
      font-size: 32px;
      font-style: normal;
      font-weight: 300;
      line-height: 40px; /* 125% */
      letter-spacing: -0.4px;
      margin-bottom: 13px;
    }
    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
      margin-bottom: 19px;
    }
    .reserve_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 245px;
      height: 64px;
      color: $White;
      border: 1px solid $White;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px; /* 94.118% */
      letter-spacing: 2.5px;
      text-transform: uppercase;
      transition: color 0.5s ease, background 0.5s ease;
    }
    .reserve_btn:hover {
      background: $White;
      color: $codGray;
    }
  }
  .booking_main {
    .booking_wrap {
      height: 534px;
      .form_wrap {
        top: -120px;
        width: 327px;
        padding: 32px;
        form {
          .date_time_wrap {
            .date {
              display: grid;
              grid-template-columns: repeat(3, auto);
              grid-template-areas:
                "naming naming naming"
                "month day year";
                gap: 8px 14px;
                margin-bottom: 34px;
              label {
                grid-area: naming;
                margin: 0;
              }
              input[type="number"] {
                margin: 0;
                width: 73px;
              }
              input[type="number"]:first-child {
                grid-area: month;
              }
              input[type="number"]:nth-child(2) {
                grid-area: day;
              }
              input[type="number"]:last-child {
                grid-area: year;
                width: 88px;
              }
            }
            .time{
              display: grid;
              grid-template-columns: repeat(3, auto);
              grid-template-areas: "naming naming naming"
                                    "hour minute part";
                                    gap: 8px 14px;
              label{
                margin: 0;
                grid-area: naming;
              }
              input[type="number"]{
                margin: 0;
                width: 73px;
              }
              input[type="number"]:first-child{
                grid-area: hour;
              }
              input[type="number"]:last-child{
                grid-area: minute;
              }
              select{
                width: 88px;
                grid-area: part;
              }
            }
          }
        }
      }
    }
  }
}
