@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './assets/styles/Color.scss';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'League Spartan', sans-serif;
}
.App{
  max-width: 1920px;
  margin: auto;
}
ul{
  list-style: none;
}
a{
  color: $codGray;
  text-decoration: none;
}